* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-image: url("../src/images/background.jpg");
  background-size: cover;
  background-position: fixed;
}
